:root{
    font-size: 24px;
}

html{
    background-color: rgb(105, 105, 105);
}
canvas{
    background-color: black;
    display: block;
    margin: 0 3em;
}

#mainViewport{
    margin-top: 2em;
}

#bar{
    background-color: rgb(122, 87, 87);
}