<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename = 'game.css') }}" />
        <script src="{{ url_for('static', filename = 'game.js') }}" type="module"> -->
        <link rel="stylesheet" href="../static/game.css" />
        <script src="../static/choose.js" type="module"></script>
        </script>
    </head>
    <body>
        <h1>choose a character</h1>
        <div id="knight">
            <a href="">
                <h2>knight</h2>
                <p></p>
            </a>
        </div>
    </body>
</html>